$primary: #f4e041;
$secondary: #00bdd3;
$btn-hover: #ffe302;
$btn-disabled: #b4b4b4;
$black: rgba(0, 0, 0, 0.87);
$grey: #7e7e7e;
$default-white: #ffffff;

$bg: #f8f8f8;

$border: #d0cfcf;
$error: #cb3d40;
