@use '../../styles/vars/color';

.user {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  background-color: color.$default-white;

  &_photo {
    width: 70px;
    height: 70px;
  }

  &_text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: inherit;
    cursor: pointer;
  }

  &_description {
    width: inherit;
  }
}
