@use '../../styles/vars/color';
@use '../../styles/vars/var';

.tooltip {
  position: relative;
  width: inherit;

  &_container {
    position: absolute;
    padding: 3px 16px;
    text-align: left;
    background-color: color.$black;
    color: color.$default-white;
    width: max-content;
    max-width: 100%;
    top: calc(100% + 21px);
    left: 50%;
    transform: translateX(-50%);
    border-radius: var.$border-radius;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    word-break: break-all;
    z-index: 1;
  }

  &:hover &_container {
    opacity: 1;
    visibility: visible;
  }
}
